doctype 5
html
  include ./includes/head
  body

    //TODO: (martin) replace this templates with angularJS
    <!-- ko with: login -->
    section.inactive.pane(data-bind='css: { active: active, inactive: inactive }')
      include login
    <!-- /ko -->
      
    <!-- ko with: cheeps -->
    section.inactive.pane(data-bind='css: { active: active, inactive: inactive }')
      include cheeps
    <!-- /ko -->
      
    <!-- ko with: cheep -->
    section.inactive.pane(data-bind='css: { active: active, inactive: inactive }')
      include cheep
    <!-- /ko -->

    <!-- ko with: loading -->
    section.active.pane(data-bind='css: { active: active, inactive: inactive }')
      include loading
    <!-- /ko -->

    //include ./includes/foot
