head
  title chitter
  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

  //CSS 3rd parties
  <!-- bower:css -->
  <link rel="stylesheet" href="client/lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  //JS 3rd parties
  <!-- bower:js -->
  <script src="client/lib/jquery/jquery.js"></script>
  <script src="client/lib/angular/angular.js"></script>
  <script src="client/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->

  //CSS app
  link(rel='stylesheet', href='client/assets/stylesheets/style.css')

  // TODO: (martin) remove this library once we get angularJS working
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js', data-main='client/assets/javascripts/app')

